{% extends 'dashboard/base.html' %} {% block static %}
<link rel="stylesheet" href="{% static 'dashboard/admin/user_edit.css' %}" />
{% endblock %} {% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Edit User</h5>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group input-group-dynamic">
          <label for="username" class="form-label">Judul</label>
          <input type="text" value="{{ user.username }}" class="form-control" disabled />
        </div>
        <div class="input-group input-group-dynamic">
          <input name="first_name" type="text" value="{{ user.first_name }}" class="form-control" placeholder="masukan nama depan" required />
        </div>
        <div class="input-group input-group-dynamic">
          <input name="last_name" type="text" value="{{ user.last_name }}" class="form-control" placeholder="masukan nama belakang" required />
        </div>
        <div class="input-group input-group-dynamic">Is Staff ? &nbsp; <input name="is_staff" type="checkbox" {% if user.is_staff %} checked {% endif %} /></div>
        <hr />

        <label class="form-label">Daftar Grup</label>
        {% for group in all_groups %}
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="group_{{ group.id }}" name="groups" value="{{ group.id }}" />
          {% if group.name in group_user %}checked{% endif %}
          <label class="form-check-label" for="group_{{ group.id }}"> {{ group.name }} </label>
        </div>
        {% endfor %}

        <p class="mt-3">
          <button type="submit" class="btn btn-sm btn-primary">Simpan</button>
          <a href="{% url 'admin_management_user_list' %}" class="btn btn-secondary btn-sm">Kembali ke Daftar User</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
