{% extends "landingpage/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <!-- START Blogs w/ 3 rows w/ image on left & title, text, author on end-->
      <section class="py-5">
        {% for a in artikel %}
        <div class="card card-plain card-blog mt-5">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="card-image position-relative border-radius-lg">
                <div class="blur-shadow-image">
                  {% if a.gambar %}
                  <img class="img border-radius-lg" src="{{ a.gambar.url }}" alt="architecture" loading="lazy" style="width: 100%; height: auto; object-fit: cover;" />
                  {% else %}
                  <img class="img border-radius-lg" src="{% static 'default_image.jpg' %}" alt="default" loading="lazy" style="width: 100%; height: auto; object-fit: cover;" />
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 my-sm-auto mt-3 ms-sm-3">
              <h4>
                <a href="{% url 'detail_artikel' a.id %}" class="text-dark">{{a.judul}}</a>
              </h4>
              <p>{{a.konten|truncatechars:200}}</p>
              <div class="author">
                <img src="https://i.pinimg.com/736x/7c/c8/f2/7cc8f235221cf59a02d469807f7c4433.jpg" class="avatar avatar-sm shadow me-2 border-radius-lg" loading="lazy" />
                 <!-- Nama Author diubah menjadi "Rara" -->
                <p class="my-auto">Rara</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <!-- END Blogs w/ 3 rows w/ image on left & title, text, author on end-->
    </div>
    <div class="col-lg-4 ml-auto">
      <div class="pt-1 pb-5 position-sticky top-1">
        <h4 class="mt-5">Kategori</h4>

        {% for k in kategori %}
        <a href="javascript::">
          <div class="card justify-content-center mb-3">
            <div class="card-body p-3">
              <h6 class="mb-0">{{k.nama}}</h6>
            </div>
          </div>
        </a>
        {% endfor %}

        <h4 class="mt-5">Top News</h4>
        <div class="card card-plain card-blog mt-4">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="card-image position-relative border-radius-lg">
                <div class="blur-shadow-image">
                  <img
                    class="img border-radius-lg"
                    src="https://akcdn.detik.net.id/community/media/visual/2025/07/01/daftar-game-ps4-ps5-xbox-nintendo-switch-2-dan-pc-rilis-juli-2025-1751352907496_169.jpeg?w=700&q=90"
                    alt="curved11"
                    loading="lazy"
                    style="width: 120px; height: 80px; object-fit: cover"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 my-sm-auto mt-3">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-normal">Daftar Game PS4, PS5, Xbox, Nintendo Switch 2 dan PC Rilis Juli 2025</a>
              </h5>
            </div>
          </div>
        </div>

        <div class="card card-plain card-blog mt-4">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="card-image position-relative border-radius-lg">
                <div class="blur-shadow-image">
                  <img class="img border-radius-lg" src="https://muslimah.or.id/wp-content/uploads/2016/08/wudhu.jpg" alt="curved9" loading="lazy" style="width: 100%; height: auto; object-fit: cover" />
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 my-sm-auto mt-3">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-normal">Hukum Berwudhu Masih Pakai Makeup, Apakah Sah?</a>
              </h5>
            </div>
          </div>
        </div>

        <div class="card card-plain card-blog mt-4">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="card-image position-relative border-radius-lg">
                <div class="blur-shadow-image">
                  <img
                    class="img border-radius-lg"
                    src="https://akcdn.detik.net.id/community/media/visual/2025/06/20/squid-game-season-3-1750409198005_43.jpeg?w=700&q=90"
                    alt="curved8"
                    loading="lazy"
                    style="width: 120px; height: 80px; object-fit: cover"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 my-sm-auto mt-3">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-normal">Ending Squid Game Season 3: Luka, Darah dan Kemanusiaan</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
