{% extends "dashboard/base.html" %} {% load static %} {% block content %}
<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <h5 class="mb-0">Daftar Artikel Anda</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-flush" id="datatable-search">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tbody>
            {% for artikel in artikel %}
            <tr>
              <td class="text-sm font-weight-normal">{{forloop.counter}}</td>
              <td class="text-sm font-weight-normal">{{artikel.judul}}</td>
              <td class="text-sm font-weight-normal">{{artikel.kategori}}</td>
              <td class="text-sm font-weight-normal">{{artikel.status}}</td>
              <td class="text-sm font-weight-normal text-center">
                <a class="btn btn-warning btn-sm" href="{% url 'artikel_update' artikel.id %}">edit</a>
                <a class="btn btn-danger btn-sm" onclick="retun confirm('yakin ingin di delete?')" href="{% url 'artikel_delete' artikel.id %}">delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block js %}
<script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
<script>
  const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
    searchable: true,
    fixedHeight: true,
  });
</script>
{% endblock %}
